@model Student
@{ViewBag.title = "Add member";}

<div class="container col-6">
    <br />
    <h1 class="text-center">Please Enter Member Details</h1>
    <br />
    @using (Html.BeginForm(FormMethod.Post))
    {
<div class="form-group row">
    @Html.LabelFor(w => w.Id, new { @class = "col-sm-2 col-form-label " })
    @*@Html.TextBoxFor(w => w.Id, new { placeholder = "Enter ID", @class = "col-md form-control" })*@
    @Html.EditorFor(ww => ww.Id, additionalViewData: new { htmlAttributes = new {placeholder="Enter ID", @class = "col-md form-control" } })
    @Html.ValidationMessageFor(e => e.Id,"",new { @class = "col-sm-6  text-danger" })


</div>
        Html.RenderPartial("CreateUpdate");

    }
</div>