@model Student
@{ViewBag.title = "Update";}

<div class="container col-6">
    <br />
    <h1 class="text-center">Please Enter Member Details</h1>
    <br />
    @*using Post with action*@
    @* <form action="/student/Create"* method="post">*@
    @using (Html.BeginForm())
    {
        <div class="form-group row">

            @Html.LabelFor(q => q.Id, new { @class = "col-sm-2 col-form-label " })
            @Html.TextBoxFor(w => w.Id, new { placeholder = "Enter ID", @class = "col-md form-control", min = "1", max = "20", @readonly = "readonly" })
            @Html.Partial("CreateUpdate")
        </div>


    }

    @*<label for="Id" class="col-sm-2 col-form-label ">Id</label>*@
    @*<input readonly value="@Model.Id" type="number" name="Id" min="1" id="Id" placeholder="Enter ID" class="col-md form-control" />*@
    @*best for preformance*@
    @*@{Html.RenderPartial("CreateUpdate"); }*@
    @*</form>*@
</div>
