
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div> 
        <form action="/home/Display" method="get">
            <input type="number" name="D1.Mostafa" /> <br />
            <input type="number" name="D1.Ahmed" /><br />
            <input type="number" name="D1.Alaa" /><br />
            <select name="Dept" multiple>
                <option value="1">Full Stack</option>
                <option value="2">IOS</option>
                <option value="3">OS</option>
                <option value="4">DeskTop</option>
            </select>
            <input type="submit" value="add" />

        </form>
    </div>
</body>
</html>
