@model HttpCookie
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cookies</title>
</head>
<body>
    <div> 
        <h1>
            @Model["Name"]
            @Model["Pass"]
        </h1>
    </div>
</body>
</html>
