@model Array
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
        @foreach (var item in Model)
        {
            <h2>
                @item
            </h2>
        }
    </div>
</body>
</html>
