
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div>
        <a href="/home/index/1">View</a>
        <a href="/home/index/2">Error</a>
        <a href="/home/index/10">content string</a>
        <a href="/home/index/6">Redirect to Google</a>
        <a href="/home/index/7">Json Data</a>

        <br />
        <h2>Download Files</h2>
        <a href="/home/index/3">3 file</a>
        <a href="/home/index/4">4 file</a>
        <a href="/home/index/5">5 file</a>


    </div>
</body>
</html>
